@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    color: black;
    font-size: 4vw;
}

h2 {
    color: red;
    background-color: white;
}

.modal {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0%;
    height: 0%;
    overflow: auto;
    background-color: rgba(0,0,0,0.25);
    transition: opacity 0.5s ease, width 0s ease 0.5s, height 0s ease 0.5s;
}

.modal.visible {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.options-card {
    background-color: white;
    border: 1px solid black;
    border-radius: 1vmax;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options-card button {
    font-size: 2vmax;
    margin: 0.5vmax;
    padding: 0.5vmax;
    background-color: white;
    color: black;
    border-radius: 1vmax;
    border: 0px;
    -webkit-box-shadow: 0 4px 0 0 #c0c0c0,0 4px 10px 2px #dfdfdf;
    box-shadow: 0 4px 0 0 #c0c0c0,0 4px 10px 2px #dfdfdf;
    user-select: none;
    transition-duration: 0.1s;
}

.options-card button:hover {
    -webkit-box-shadow: 0 3px 0 0 #c0c0c0,0 3px 7.5px 1.5px #d0d0d0;
    box-shadow: 0 3px 0 0 #c0c0c0,0 3px 7.5px 1.5px #d0d0d0;
    transform: translateY(1px);
}

.options-card button:active {
    -webkit-box-shadow: 0 0 0 0 #c0c0c0, 0 0 0 0 #d0d0d0;
    box-shadow: 0 0 0 0 #c0c0c0, 0 0 0 0 #d0d0d0;
    transform: translateY(4px);
}

.options-card button.bad {
    background-color: #ffe0e0;
    -webkit-box-shadow: 0 4px 0 0 #ffc0c0,0 4px 10px 2px #ffd0d0;
    box-shadow: 0 4px 0 0 #ffc0c0,0 4px 10px 2px #ffd0d0;
}