{% extends 'base.html' %}

{% block header %}
<script defer src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<h1>
    Generate Whiteboard, Share Whiteboard, Simple.
</h1>
<h1 id='options-hint'>
    Space for options.
</h1>
{% endblock %}

{% block modal %}
<button id='create-whiteboard'>Create Whiteboard</button>
{% if logged_in %}
<div id='saved-whiteboards' class='flex row' style="max-width: 50vw;"></div>
{% endif %}
<div id='account-div'>
    {% if not logged_in %}
    <button id='login'>Login</button>
    <button id='signup'>Sign Up</button>
    {% else %}
    <button id='logout'>Logout</button>
    {% endif %}
</div>
{% endblock %}