{% extends 'base.html' %}

{% block header %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{{url_for('static', filename='js/whiteboard.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/whiteboard.css')}}">
{% endblock %}

{% block content %}
<canvas id='whiteboard'>

</canvas>
{% endblock %}

{% block modal %}
<div class='flex'>
    <input style='width: 10ch; flex-grow: 1;' id="nickname-input" type="text" placeholder="Nickname">
    <input type='checkbox' id='saved' style='display: none;'>
    <label style='flex-grow: 1;' for='saved' id='saved-label'>Save Whiteboard</label>
</div>
<div id='colors-container'>
    <button id='sec-color'></button>
    <button id='red-color'>Red</button>
    <button id='blue-color'>Blue</button>
    <button id='green-color'>Green</button>
    <button id='eraser-color' class="bad">Eraser</button>
</div>
<button id='center-whiteboard'>Center Whiteboard</button>
<div class='flex'>
    <button style='flex-grow: 1;' id='clear-whiteboard' class="bad">Clear Whiteboard</button>
    <button style='flex-grow: 1;' id='home'>Home</button>
</div>
{% endblock %}